<h1>About me</h1>
<p>I am a brand new Ruby on Rails coder and am using this site as my first practice run. I am a teacher in Hawaii and am looking for new ways I can teach my students computer programming. I am also a woman and believe in empowering girls to believe in themselves by offering them the opportunity to skill up.</p>